/*
.multicolor{
background-image: linear-gradient(to left, blue,red,yellow,blue,green,red);
 -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
  top: 200px;
  left:500px;
  font-size: 100px;
}
*/
body{
  margin: 0;
  padding: 0;
  font-family: 'roboto' sans-serif;
}
span{
font-size: 75px;
font-family: sans-serif;
}
ul{
  margin: 0;
  padding: 0;
  float: right;
  overflow: hidden;
  list-style: none;
}
nav{
  padding: 1%;
  margin-right: 5%;
}
nav ul li{
  display: inline;
}
li a{
  background-color: white;
padding: 8px;
text-decoration: none;
color: #000000;
}
li a:hover{
  text-decoration: underline;
}

h1{margin-top: 7%;
  text-align: center;
}

input[type=text]{
  margin-top: 1%;
  margin-left: 25%;
  box-sizing: border-box;
  background-image: url('icon/search bar icon.png');
  background-size: 3%;
  border-radius: 25px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding:12px 20px 12px 40px;
width:50%;

}

input[type=text]:focus {
     outline: none;
}

.mic-image{
  width: 2%;
}
.search-image{
  width: 2%;
}
.buttons{
  margin-top: 2%;
  margin-left: 43%;
  opacity: 0.5;
}

#bt1{
  height: 35px;
margin-right: 20px;
}
#bt3{
  height: 35px;
}
footer{
  position: fixed;
  bottom: 0;
    background-color: #F8F9F9 ;
    width: 100%;
    border-top: 1px  grey solid;
    border-bottom: 1px  grey solid;
}
.fot-1{
  margin-left: 8px;
  list-style-type: none;
  float:left;
  padding: 0;
}
.fot2 p{
  margin-left: 8px;
}

.left-footer {
  float: left;
  margin-bottom: 8px;
}
.right-footer {
  margin-bottom: 8px;
  float: right;
}
.left-footer,right footer a{
  display: flex;
  /*padding: 8px;
  background-color: #ffffff;
  text-decoration: none;*/
}
